@page
@model GestionEstudiante1.Pages.EstudiantesModel
@using EstudiantesCore1.Dtos
@using EstudiantesCore1.Entidades
@{
    Layout = "~/Pages/Shared/_DevExtremeLayout.cshtml";
}
@Html.AntiForgeryToken()
@using DevExtreme.AspNet.Mvc


<div class="mt-4 mx-5">
    <div class="card">
  <div class="card-body">
      <div>
    <div id="divgrid">
        @(Html.DevExtreme().Button().Text("Nuevo Estudiante").Icon("add").OnClick("esconderGrid").Type(ButtonType.Default))

        @(Html.DevExtreme().DataGrid<Estudiante>()
        .ID("TablaEstudiantes")
        .ShowRowLines(true)
        //.Selection(s=>s.SelectAllMode(SelectAllMode.AllPages).Mode(SelectionMode.Multiple))
        .RowAlternationEnabled(true)
        .ShowBorders(true)
        .ShowColumnLines(true)
        .ShowRowLines(true)
        .FilterRow(q=>q.Visible(true))
        .Export(s=>s.Enabled(true))
        .AllowColumnReordering(true)
        .AllowColumnResizing(true)
        .ColumnAutoWidth(true)
        .SearchPanel(d=>d.Visible(true))
        .DataSource(s=>s.RemoteController().LoadUrl("/Estudiantes?handler=ObtenerEstudiantes"))
        .Columns(s=>{
            s.AddFor(q=>q.TipoDocumento.id).Lookup(q=>q.DataSource(f=>f.RemoteController().LoadUrl("Estudiantes?handler=TipoDocumento").Key("id")).DisplayExpr("nombre").ValueExpr("id"));
            s.AddFor(q=>q.documento);
            s.AddFor(q=>q.nombre);
            s.AddFor(q=>q.apellido);
            s.AddFor(q=>q.estado.id).Lookup(q=>q.DataSource(f=>f.RemoteController().LoadUrl("Estudiantes?handler=Estados").Key("id")).DisplayExpr("nombre").ValueExpr("id"));
            s.Add().Visible(true).Type(GridCommandColumnType.Buttons).Buttons(b=>{
                b.Add().Icon("edit").Hint("editar").OnClick("EditarEstudianteFromGrid");
                b.Add().Icon("info").Hint("detalle").OnClick("VerEstudianteFromGrid");
            });
    }))
    </div>    

</div>

<div id="divformulario" style="display:none">
    @(await Html.PartialAsync("/Pages/PartialViews/_formestudiante.cshtml"))
    
</div>
  </div>
</div>


</div>

@(Html.DevExtreme().Popup()
.ID("PopDetalleEstudiante")
.Title("Datos del Estudiante")
.ShowTitle(true)
.Visible(false)
.DeferRendering(false)
.DragEnabled(true)
.MaxHeight(320)
.MaxWidth(600)
.CloseOnOutsideClick(true)
.ContentTemplate(
@<text>
    <div>
        @(await Html.PartialAsync("/Pages/PartialViews/_formestudiante.cshtml"))
    </div>
</text>
))


@section Scripts{
    <script src="~/js/Estudiantes.js"></script>
}